listview {
    border-color: transparent;
    background: transparent;
    outline-color: transparent;}

list.popover_menu {
    background: transparent;
}

box.apps {
    border-radius: 12px;
    background: transparent;
}

button.dock_item {
    transition: 100ms;
    border-color: transparent;
    background: transparent;
    outline-color: transparent;
}

button.dock_item:hover {
    transition: 100ms;
    border-color: rgba(255, 255, 255, 0.1);
    outline-color: rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

*.transparent {
    border-color: transparent;
    background: transparent;
    outline-color: transparent;
}
